*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    height: 100vh;
    width: 80%;
    background-color: #afca36;
    margin: auto;
}
.six{
    background-color: red;
    font-size: 20px;
    width:30%;
    height: 100px;
    float: left;
    margin-top: 5px;
   
  
}
.t{
  margin: 5px 5% 0 5%;
}